<div class="container">
  <div class="profil-banner">
    <span class="level-badge">{{ playerData.accountLevel }}</span>
    <img *ngIf="!playerData.agent" [src]="playerData.image" alt="" />
    <img
      *ngIf="playerData.agent && playerData.agent.displayIconSmall"
      [srcset]="playerData.agent.displayIcon + ' 2x'"
      [alt]="playerData.agent.displayName"
    />
  </div>
  <div class="player-infos">
    <div class="player-agentname">
      {{ playerData.agent?.displayName || "----" }}
    </div>
    <div class="player-nickname">{{ playerData.name }}</div>
    <div class="player-skins">
      <div class="vandal-skin">
        <img
          [src]="playerData.skins.get(weaponNames.vandal)!.image"
          [alt]="playerData.skins.get(weaponNames.vandal)!.name"
          (click)="clickedSkin(playerData.skins.get(weaponNames.vandal)!.name)"
          [title]="playerData.skins.get(weaponNames.vandal)!.name"
        />
      </div>
      <div class="phantom-skin">
        <img
          [src]="playerData.skins.get(weaponNames.phantom)!.image"
          [alt]="playerData.skins.get(weaponNames.vandal)!.name"
          (click)="clickedSkin(playerData.skins.get(weaponNames.vandal)!.name)"
          [title]="playerData.skins.get(weaponNames.vandal)!.name"
        />
      </div>
    </div>
  </div>
  <div class="empty-column"></div>
  <div class="past-stats">
    <div class="past-games-rr">
      <div class="game-1-rr">23</div>
      <div class="game-2-rr">23</div>
      <div class="game-3-rr">23</div>
    </div>
    <div class="past-ranks">
      <div class="rank-1-image">
        <img
          srcset="
            https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/14/smallicon.png 2x
          "
          alt="Gold 3"
          title="Gold 3"
        />
      </div>
      <div class="rank-2-image">
        <img
          srcset="
            https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/14/smallicon.png 2x
          "
          alt="Gold 3"
          title="Gold 3"
        />
      </div>
      <div class="rank-3-image">
        <img
          srcset="
            https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/14/smallicon.png 2x
          "
          alt="Gold 3"
          title="Gold 3"
        />
      </div>
    </div>
  </div>
  <div class="current-rank">
    <div class="current-rank-image">
      <img
        [srcset]="playerData.rank.largeIcon + ' 3x'"
        [alt]="playerData.rank.tierName"
        [title]="playerData.rank.tierName"
      />
    </div>
    <div class="current-rank-rr">
      <progress max="100" value="70" title="70"></progress>
    </div>
  </div>
  <div
    *ngIf="playerData.partyColour !== ''"
    class="group-icon"
    [style]="'background:' + playerData.partyColour"
  >
    <fa-icon [icon]="faUsers"></fa-icon>
  </div>
</div>
