<div class="container">
  <div class="profil-banner">
    <span class="level-badge">{{ playerData.accountLevel }}</span>
    <img *ngIf="!playerData.agent" [src]="playerData.image" alt="" />
    <img
      *ngIf="playerData.agent && playerData.agent.displayIconSmall"
      [srcset]="playerData.agent.displayIcon + ' 2x'"
      [alt]="playerData.agent.displayName"
    />
  </div>
  <div class="player-infos">
    <div class="player-agentname">
      {{ playerData.agent?.displayName || "----" }}
    </div>
    <div class="player-nickname">{{ playerData.name }}</div>
    <div class="player-skins">
      <div class="vandal-skin">
        <img
          [src]="playerData.skins.get(WeaponIds.vandal)!.image"
          [alt]="playerData.skins.get(WeaponIds.vandal)!.name"
          (click)="clickedSkin(playerData.skins.get(WeaponIds.vandal)!.name)"
          [title]="playerData.skins.get(WeaponIds.vandal)!.name"
        />
      </div>
      <div class="phantom-skin">
        <img
          [src]="playerData.skins.get(WeaponIds.phantom)!.image"
          [alt]="playerData.skins.get(WeaponIds.phantom)!.name"
          (click)="clickedSkin(playerData.skins.get(WeaponIds.phantom)!.name)"
          [title]="playerData.skins.get(WeaponIds.phantom)!.name"
        />
      </div>
    </div>
  </div>
  <div class="empty-column"></div>
  <div class="past-stats">
    <div class="past-games-rr">
      <div
        class="game-1-rr"
        [ngClass]="{
          win: playerData.matchHistory.get(0)!.RankedRatingEarned > 0,
          lose: playerData.matchHistory.get(0)!.RankedRatingEarned < 0,
          default: playerData.matchHistory.get(0)!.RankedRatingEarned === 0
        }"
      >
        {{ playerData.matchHistory.get(0)!.RankedRatingEarned }}
      </div>
      <div
        class="game-2-rr"
        [ngClass]="{
          win: playerData.matchHistory.get(1)!.RankedRatingEarned > 0,
          lose: playerData.matchHistory.get(1)!.RankedRatingEarned < 0,
          default: playerData.matchHistory.get(1)!.RankedRatingEarned === 0
        }"
      >
        {{ playerData.matchHistory.get(1)!.RankedRatingEarned }}
      </div>
      <div
        class="game-3-rr"
        [ngClass]="{
          win: playerData.matchHistory.get(2)!.RankedRatingEarned > 0,
          lose: playerData.matchHistory.get(2)!.RankedRatingEarned < 0,
          default: playerData.matchHistory.get(2)!.RankedRatingEarned === 0
        }"
      >
        {{ playerData.matchHistory.get(2)!.RankedRatingEarned }}
      </div>
    </div>
    <div class="past-ranks">
      <div class="rank-1-image">
        <img
          [srcset]="playerData.previousRanks.get(0)!.smallIcon! + ' 2x'"
          [alt]="playerData.previousRanks.get(0)!.tierName"
          [title]="playerData.previousRanks.get(0)!.tierName"
        />
      </div>
      <div class="rank-2-image">
        <img
          [srcset]="playerData.previousRanks.get(1)!.smallIcon! + ' 2x'"
          [alt]="playerData.previousRanks.get(1)!.tierName"
          [title]="playerData.previousRanks.get(1)!.tierName"
        />
      </div>
      <div class="rank-3-image">
        <img
          [srcset]="playerData.previousRanks.get(2)!.smallIcon! + ' 2x'"
          [alt]="playerData.previousRanks.get(2)!.tierName"
          [title]="playerData.previousRanks.get(2)!.tierName"
        />
      </div>
    </div>
  </div>
  <div class="current-rank">
    <div class="current-rank-image">
      <img
        [srcset]="playerData.rank.largeIcon + ' 3x'"
        [alt]="playerData.rank.tierName"
        [title]="playerData.rank.tierName"
      />
    </div>
    <div class="current-rank-rr">
      <progress
        max="100"
        [value]="playerData.matchHistory.get(2)!.RankedRatingAfterUpdate"
        [title]="playerData.matchHistory.get(2)!.RankedRatingAfterUpdate"
      ></progress>
    </div>
  </div>
  <div
    *ngIf="playerData.partyColour !== ''"
    class="group-icon"
    [style]="'background:' + playerData.partyColour"
  >
    <fa-icon [icon]="faUsers"></fa-icon>
  </div>
</div>
