<div class="header">
  <span class="item">
    <button>
      <fa-icon [icon]="faCog" size="2x"></fa-icon>
    </button>
  </span>
  <span class="item">Votre Groupe</span>
  <span class="item">Statut</span>
  <span class="item end">
    <button (click)="clickedForceRefresh()">
      <fa-icon [icon]="faRefresh" size="2x"></fa-icon>
    </button>
    <span> &nbsp; </span>
    <button>
      <fa-icon [icon]="faInfo" size="2x"></fa-icon>
    </button>
  </span>
</div>
<swal #loadingData title="Chargement..." text="Chargement des données en cours..." type="info" icon="info" [allowOutsideClick]="false" [showConfirmButton]="false"></swal>

<div class="container-teams">
  <div class="team-a">
    <h3>Attaque</h3>
    <div *ngIf="atkPlayerList.length > 0; else noAtkPlayerList">
      <app-player-card
        *ngFor="let playerData of atkPlayerList"
        [playerData]="playerData"
      ></app-player-card>
    </div>
    <ng-template #noAtkPlayerList>
      <div class="empty-column"></div>
    </ng-template>
  </div>
  <hr />
  <div class="team-b">
    <h3>Défense</h3>
    <div *ngIf="defPlayerList.length > 0; else noDefPlayerList">
      <app-player-card
        *ngFor="let playerData of defPlayerList"
        [playerData]="playerData"
      ></app-player-card>
    </div>
    <ng-template #noDefPlayerList>
      <div class="empty-column"></div>
    </ng-template>
  </div>
</div>
